body,html
{
    margin:0;
    padding:0;
}
.container
{
    margin:0 auto;
    background-color: #f1f3f4;
}
.wrapper
{
    margin: 0 auto;
    width:100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
#header
{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   padding:5%;
    /* border-bottom: 5px solid #f1f3f4; */
}
#heading
{
    font-size: 1em;
    font-weight: bold;
}

.footerButtons a.checkout {
    background: #2764a2;
    color: white;
    padding: 1% 3%;
    text-decoration: none;
    text-transform: uppercase;
    
}
.footerButtons .Shipping {
    color: #666;
    margin: 1% 2%;
}
.count
{
    /* text-align:right; */
}
.item-container
{
    display:flex;
    flex-direction: column;
    
    border-bottom: 2px solid #f1f3f4;
    margin:2% 0%;
}
.item
{
    display: flex;
    flex-direction: row;
    padding :1%;
}
.img
{
    width:20%;
    
}
.image
{
    width:80%;
    height: 80%;
}
.quantity-header
{
    display: none;
}


.description div
{
    padding:1%;
    
}
#textbox
{
    width:20%;
    text-align: center;
}
.amt
{
    font-weight: bold;
    font-size: 1.2em;
}
.descrption .amount
{
    margin:5% 0%;
}
.buttonsSection button
{
    background: none;
    border:none;
    text-align: center;
    border-right: 1px solid lightgrey;
    color:grey;
    
}
.edit
{
    width:20%;
    padding-right:2%;
    
}
.remove
{
    width:30%;
    
}
.save
{
    width:45%;
    border-right: none !important;
}
.buttonsSection
{
    margin-bottom: 3%;
    
}
#itemsDiv
{
    direction: flex;
    flex-direction: column;
}
#paymentandhelp
{ 
      display: flex;
      flex-direction: row;
      margin:2%;
      
}
#payment
{
    display: flex;
    flex-direction: column;
    width:75%;
    margin-left: 2%;
}
.questions
{
    width:20%;
    padding-left: 1%;
}

.pricebox {
    border-top: 5px #ccc solid;
    border-bottom: 5px #ccc solid;
    padding: 2% 0;
    margin: 2% 0;
    
    width: 100%;
    display: flex;
    flex-direction: column;
}
.pricebox .insidePrice {
    margin: 3% 0;
    display:flex;
    flex-direction: row;
    width: 100%;
}
.insidePrice .leftCol
{
    width:60%;
}

.insidePrice .rightCol
{
    width:38%;
    font-size: 16px;
    font-weight: bold;
}
.leftCol .ship-text {
    color: #ccc;
    width: 57%;
    line-height: 20px;
    padding-top: 1%;
}

.footerButtons .btnwrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 2%;
}

.footerButtons p {
    
    background: url(../images/lock.jpg) no-repeat -1px 3px;
    padding-left: 25px;
    height: 35px;
    padding-top: 10px;
}

@media (min-width: 900px)
{
    .buttonsSection
    {
        width:30%;
        margin-left:20%;
    }
    .SizeSpan , .QtySpan
            {
                display: none;
            }
            .leftItem
            {
                width:50%;
            }
    .rightItem
    {
        display:flex;
        flex-direction: row;
        width:50%;
    } 
    .img
    {
        width:25%;
    }
    .rightUp
    {
        display: flex;
        flex-direction: row;
        width:75%;
    }
    
    .item
    {
        display: flex;
        flex-direction: column;
    }
    .itemTop
    {
        display: flex;
        flex-direction: row;
    }
    #header
    {
      display:none;
    }
    ul
    {
        list-style: none;
    }
    ul.HeaderDesktop {
        border-top: 2px #ccc solid;
        padding: 15px 0;
        text-transform: uppercase;
        color: #666;
        font-size: 13px;
    }
    ul.HeaderDesktop li.items {
        width: 65%;
        padding-left: 1%;
    }
    ul.HeaderDesktop li {
        display: inline-block;
        width: 10%;
    }
    .wrapper
    {
        display:flex;
        flex-direction: row;
    }
    .main
    {
        width:80%;
    }
    .slider
    {
        width:30%;
        background-color: aqua;
    }
    .header
    {
        padding:2%;
    }
    .heading
    {
        font-size: 1.1em;
        font-weight: bold;
        
    }
    .count
    {
        display:none;
    }
    .quantity-header  
    {
        display: flex;
        flex-direction: column;
    }
    .checkout
    {
        text-align: center;
    }
    .Shipping
    {
        text-align: center; 
    }
   .description
   {
       display: flex;
       flex-direction: row;
       width:100%;
   }
   .qty
   {
       width:26%;
      margin-left : 13%;
   }
   .Size1
   {
       width:20%;
       margin-left:3%;
   }
   
}
@media only screen and (max-device-width: 568px) 
{
   
            .item
            {
                display: flex;
                flex-direction: column;
            }
            .itemTop
            {
                display: flex;
                flex-direction: row;
            }
            .description
                {
                    width:100%;
                    display: flex;
                    flex-direction: column;
                }
            .rightUp
            {
                width:48%;
            }
            .img
            {
                width:48%;
            }
            .questions , .HeaderDesktop , .HeaderPC 
            {
            display:none;
            }
            
            #payment
            {
                width:97%;
            }
            #promotion
            {
                text-align: center;
            }
            #promotion a
            {
                display: block;
            color: #666;
            margin: 4% 0;
            }
            #promotion label {
                display: block;
                font-size: 13px;
                margin-bottom: 3%;
                margin-left:27%;
                width: 50%;
            }

            #promotion input[type="textbox"] {
                padding: 0.5%;
                margin-left: 5%;
                width: 33%;
                margin-right: 2%;
            }
            #promotion button {
                background: #fff;
                padding: 0.5% 3%;
                cursor: pointer;
                text-transform: uppercase;
            }
            .footerButtons .Shipping, .footerButtons a.checkout {
                width: 89%;
                text-align: center;
                
                display: block;
                padding: 4%;
            }

            .footerButtons .Shipping, .footerButtons a.checkout {
                width: 89%;
                text-align: center;
                
                display: block;
                padding: 4%;
            }
}